Clickhouse/shared/ch-data/clickhouse/data
Clickhouse/shared/ch-data/clickhouse/dictionaries_lib
Clickhouse/shared/ch-data/clickhouse/flags
Clickhouse/shared/ch-data/clickhouse/format_schemas
Clickhouse/shared/ch-data/clickhouse/metadata_dropped
Clickhouse/shared/ch-data/clickhouse/tmp
Clickhouse/shared/ch-data/clickhouse/user_defined
Clickhouse/shared/ch-data/clickhouse/user_files
Clickhouse/shared/ch-data/clickhouse/user_scripts
Clickhouse/shared/ch-data/clickhouse/metadata/information_schema
Clickhouse/shared/ch-data/clickhouse/metadata/INFORMATION_SCHEMA
Clickhouse/shared/ch-data/clickhouse/store
Clickhouse/shared/ch-data/clickhouse/metadata/INFORMATION_SCHEMA.sql
Clickhouse/shared/ch-data/clickhouse/metadata/default
Clickhouse/shared/ch-data/clickhouse/metadata/system
Clickhouse/shared/ch-data/clickhouse/metadata/system.sql